#container {
  width: 630px;
  margin: 15px auto;
  text-align: center;
}

#board  {
  overflow: hidden;
  width: 630px;
  padding: 0px;
  margin: 0px 0px 15px 0px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

#board li {
  padding: 0px;
  margin: 0px;
  display: block;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  width: 20px;
  height: 20px;
  float: left;
}

#start {
  display: inline-block;
  padding: 10px 15px;
}

#startMenu {
  width: 250px;
  margin: 0px auto;
  padding: 20px 15px 15px 15px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

#stones {
  width: 150px;
  display: flex;
  flex-flow: row nowrap;
  margin: 0px auto 20px auto;
  padding: 0px;
}

#stones li {
  list-style: none;
  text-align: center;
  flex-grow: 1;
  padding: 0px;
}

.display {
  display: block;
}

.hidden {
  display: none;
}

.message {
  font-weight: bold;
  font-size: 180%;
}

.win {
  color: #009900;
}

.lose {
  color: #cc0000;
}

.draw {
  color: #cc7a00;
}
